:root {
  --steel-blue: #274C5B;
  --sage-green: #68A47F;
  --sage-green-light: #7EB693;
  --pale-goldenrod: #EFD372;
  --slate-gray: #525C60;
  --light-silver: #D4D4D4;
  --cultured: #F9F8F8;
  --azure-white: #EFF6F1;
  --white: #FFF;
} 
