.footer-wrapper {
  margin-block: 100px;

  display: flex;
  justify-content: center;

  gap: 50px;
}

.footer-contact-us {
  text-align: right;
}

.footer-contact-us-title {
  font-weight: 700;

  margin-bottom: 32px;
}

.footer-contact-us-info-title {
  font-weight: 700;
}   

.footer-contact-us-info {
  margin-bottom: 32px;
}

.footer-contact-us-info:last-child {
  margin-bottom: 0px;
}

.footer-social {
  text-align: center;
}

.footer-social-description {
  margin-top: 24px;
  margin-bottom: 49px;
}

.footer-social-icon {
  display: inline-block;
  height: 60px;

  margin-right: 15px;
}

.footer-social-icon:last-child {
  margin-right: 0px;
}

.footer-utility-pages-title {
  font-weight: 700;

  margin-bottom: 32px;
}

.footer-utility-pages-item {
  margin-bottom: 20px;
}

.footer-utility-pages-item:last-child {
  margin-bottom: 0px;
}

.footer-vertical-line {
  width: 1px;
  height: 336px;

  background: var(--light-silver);
}

.footer-horizontal-line {
  height: 1px;

  background: var(--light-silver);
}

.footer-copyright {
  text-align: center;

  margin-block: 17px;
}
